/* global style */
form label{ /*signup. login -> 글씨 굵기*/
  padding: 3px;
  margin-bottom: 0;
  font-weight: 300;
}
form .form-control{ /*내용 입력받는 상자의 크기*/
  padding: 3px 7px;
  font-size: inherit;
  line-height: 20px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}
form fieldset{ /*하얀상자의 전체 적인 크기(signup. login)*/
  margin: 6px 0 1px;
  padding: 0px 10px;
}
form .form-group{ /*입력받는 상자 사이의 간격*/
  margin: 0;
  padding-bottom: 6px;
}
.ellipsis{ /*어느부분??????*/
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-horizontal .control-label { /*기본적인 label글자들의 왼쪽 정렬*/
  padding-top: 5px;
  text-align: left;
}
.buttons { /*모든 버튼 들의 위치 및 간격*/
  margin: 7px 0;
  padding: 0 5px;
}
.buttons form{
  display: inline-block;
}
.buttons .btn-default{ /*버튼의 크기와 색깔*/
  min-width: 55px;
  color: #165751;
  border: 1px solid #ccc;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  font-size: 0.8em;
  font-weight: bold;
}
.buttons .btn-default:hover{ /*어디부분???*/
  text-decoration: none;
  position: relative;
  top: 1px;
  left: 1px;
  border: 1px solid #ccc;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}
.contentBox{ /*게시판 글 하나 전체 박스*/
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.contentBoxTop { /*게시판 글 제목 박스*/
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  border-bottom: 1px solid #ccc;
  background-color: #F5F5F5;
  padding: 6px 15px;
}

/* home style */
.home h1{ /*Pinstagram 글씨 색깔*/
  color: skyblue;
}
.home-login{ /*login -> 양옆 박스 길이, 전체적인 글씨체, 글씨 크기(Login, username, password)*/
  max-width: 330px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

/* post style */
.post { /*게시판 부분 -> 양옆 박스 길이, 전체적인 글씨체, 글씨 크기*/
  max-width: 900px;
  font-family: sans-serif;
  font-size: 14px;
}
.post h2 {
  color: skyblue; /*board 글씨 색깔*/
  text-align: center;
}
.post .post-body { /*past body 부분 크기 (ex) hi)*/
  white-space: pre-line;
  padding: 6px 15px 20px;
}
.post .post-info{
  font-size: 13px;
  margin: 5px;
  padding: 5px 10px; /*author created 사이즈 (ex) author, created)*/
  background-color: #AFDDFA	;
  border: 0 solid white;
  border-radius: 5px;
}
.post .post-info>div{
  padding: 5px 0;
  /*border-top: 1px dotted #999; (author, created 사이의 줄)*/
}
.post .post-info>div:first-child{
  border-top: none;
}
.post .post-info span{
  display: inline-block;
  width: 40px;
}
.post-index .posts{ /*index박스 테두리*/
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  table-layout: fixed;
}
.post .posts th,
.post .posts td
{
  padding: 7px 5px; /*index 박스 위아래 간격*/
}
.post .posts th:first-child,
.post .posts td:first-child
{
  padding-left: 15px;
}
.post .posts thead{
  background-color: #F5F5F5; /*title, author, date -> 부분 색깔*/
}
.post .posts thead tr th{
  border-bottom: 1px solid #ccc;
}
.post .posts tbody tr:nth-child(odd){ /*post -> 게시판 제목 부분 색깔*/
  background-color: #F4FFFF;
}
.post .posts tbody .noData{
  background-color: #FFFFFF;
  text-align: center;
}
.post .posts .author{
  text-align: center;
  width: 80px;
}
.post .posts .date{
  text-align: center;
  width: 100px;
  padding-right: 15px;
}
.post-new,
.post-edit{
  max-width: 520px;
}

/* user style */
.user { /*회원가입 -> my accout 부분*/
  max-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.user-index ul{
  margin: 0;
  padding: 3px 12px;
}
.user-index ul:after {
  content: "";
  display: block;
  clear: both;
}
.user-index ul li{
  display: inline-block;
  list-style-type: none;
  float:left;
}
.user-index ul li a{ /*users -> 이 웹의 총 사용자 명단 부분*/
  display: inline-block;
  text-decoration:none;
  margin: 3px;
  background-color: #eee;
  padding: 3px 10px;
  border-radius: 3px;
}
.user-index ul li a:hover{
  background-color: #ccc;
}
.user-edit hr{
  margin-top: 5px;
  margin-bottom: 11px;
}
