<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <div style='float:left'>
        <h1>Pinstagram</h1>
        <P>Pinlab 연구원들의 일상을 공유할 수 있는 Pinstagram을 소개합니다!</P>
        </div>
        <div style='float:right'>
            <a href='/'>
              <img src='https://i.imgur.com/87O8avZ.jpg' alt = 'Logo' style = 'width:150px; height:150px;'>
              </img>
            </a>
        </div>
        <br><br><br><br><br><br><br>
      </div>
    </div>
  </body>
</html>
